@import url('https://fonts.googleapis.com/css?family=Tajawal');
*{
   margin: 0px;
   padding: 0px;
}

body{
   width:100%;
   height:100%;
}

nav ul li:hover{
   position: relative;
   width: 189px;
   left: 0;
   background-color: #C5E7FF;
}

.click{
   position: absolute;
   width: 173px;
   height: 60px;
   left: 0;
   background-color: #C5E7FF; 
}
   
nav{
   position: absolute;
   top: 0;
   left: 0;
   width: 189px;
   height: 794px;
   font-size: 20px;
   background:#ECF9FF;
}

nav a{
   position: absolute; 
   color: #0079B1;
   padding: 6px 8px;
   text-decoration: none;  
}

nav img{
    width: 172px;
    height: 194px;
    position: relative;
    left: 8px;
    top: 13px;
}
 nav ul{
    position: relative;
    top: 20px;
    height: 258px;
 }

nav:nth-child(2) ul{
    position: relative;
    top: 20px;
    height: 259px;    
}

li{
    position: relative;
    height: 72px;
    list-style: none;  
    font-family: 'Tajawal', sans-serif;
}



nav h1{
    position: relative;
    top: -19px;
    left: 8px;
    width: 108px;
    font-size: 20px;
    font-family: 'Tajawal', sans-serif;
}

div{
    position: relative;
    width: 1251px;
    height: 732px;
    left: 189px;
}

section{
    position: relative;
    background-color: #000F25;
    width: 1251px;
    height: 397px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 397px;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
    width: 1251px;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
    width: 1251px;
    height: 397px;
}
section div :hover{
    filter: grayscale(80%);
}
@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

div section:nth-child(2) h1{
    position: absolute;
    font-weight: normal;
    font-size: 70px;
    top: -3px;
    left: 35px;
    color: white;
    font-family: 'Tajawal', sans-serif;
}
div section:nth-child(2) ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div section:nth-child(2) li img{
    position: absolute;
    top: 0;
    width: 145px;
    height: 191px;
}
div section:nth-child(2) li  {
    position: relative;
    top: 125px;
    width: 145px;
    height: 191px;
    display: inline-block;
}

div section:nth-child(2) li:nth-child(1) {
    left: 40px;
}
div section:nth-child(2) li:nth-child(2){
    left: 95px;
}
div section:nth-child(2) li:nth-child(3){
    left: 150px;
}
div section:nth-child(2) li:nth-child(4){
    left: 207px;
}
div section:nth-child(2) li:nth-child(5){
    left: 265px;
}
div section:nth-child(2) li:nth-child(6){
    left: 322px;
}
div section:nth-child(2) ul li :hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);
    filter: opacity(.5);
}



