@import url('https://fonts.googleapis.com/css?family=Tajawal');
*{
   margin: 0px;
   padding: 0px;
}

header{
   background-color:#ECF9FF; 
   padding: 10px;
}

header h1{
   margin-left: 210px;
}

nav ul li a:hover{
   width: 200px;
   background-color: #C5E7FF;
}
   
nav{
   float: left;
   width: 150px;
   height: 749px;
   margin: -57px 0px;
   padding: 20px;
   font-size: 20px;
   background:#ECF9FF;
}

nav a{
   color: #0079B1;
   padding: 6px 8px;
   text-decoration: none;  
}

nav img{
   width: 150px;
   height: 180px;
}

li{
    margin-top: 29px;
    height: 37px;
    list-style: none;  
    font-family: 'Tajawal', sans-serif;
}

h1{
    margin-top: -3px;
    font-family: 'Tajawal', sans-serif;
}

div{
    position: relative;
    width: 1251px;
    height: 732px;
    left: 189px;
}

section{
    position: relative;
    background-color: #000F25;
    width: 1251px;
    height: 366px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 366px;
	overflow: hidden;
}

.slider ul {
    margin-top: -29px;
	display: flex;
	padding: 0;
    width: 1251px;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
    width: 1251px;
    height: 366px;
}
section div :hover{
    background-color: black;
}
@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

div section:nth-child(2) h1{
    position: absolute;
    top: 21px;
    left: 40px;
    color: white;
    font-family: 'Tajawal', sans-serif;
}
div section:nth-child(2) ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
div section:nth-child(2) li img{
    position: absolute;
    top: 0;
    width: 145px;
    height: 191px;
}
div section:nth-child(2) ul li :hover {
    background-color: white;
    width: 145px;
    height: 191px;
}
div section:nth-child(2) li  {
    position: relative;
    top: 49px;
    margin-left: 21px;
    width: 100px;
    height: 100px;
    display: inline-block;
}
div section:nth-child(2) li:nth-child(1) {
    left: 20px;
}
div section:nth-child(2) li:nth-child(2){
    left: 100px;
}
div section:nth-child(2) li:nth-child(3){
    left: 180px;
}
div section:nth-child(2) li:nth-child(4){
    left: 260px;
}
div section:nth-child(2) li:nth-child(5){
    left: 340px;
}
div section:nth-child(2) li:nth-child(6){
    left: 420px;
}